<visibility-aware
  data-selector=".hero"
  class="is-visible"
  data-threshold="0.04"
>
  <div class="hero--sticky"></div>
</visibility-aware>
<div class="hero">
  <div class="hero__me">
    <div class="hero__identity">
      <span class="hero__firstname">{{identity.firstname}}</span>
      <span class="hero__lastname">{{identity.lastname}}</span>
      <div class="hero__job">
        <span
          class="hero__sugar"
          data-tooltip="{{identity.job.sugarTooltip}}"
        >{{identity.job.sugar}}</span>
        {{identity.job.name}}
      </div>
    </div>
    <liquid-circle class="hero__picture"></liquid-circle>
  </div>
  <div class="hero__cat">
    <div class="hero__btn-wrapper--mail">
      <liquid-button
        class="hero__btn hero__btn--mail"
        href="mailto:{{contact.mail}}"
      >{{contact.mail}}</liquid-button>
    </div>
    <liquid-button
      class="hero__btn hero__btn--tiny-mail"
      x-scroll-to-top
      data-width="50"
      data-height="50"
    ><span>@</span>
    </liquid-button>
    <liquid-button
      class="hero__btn hero__btn--linkedin"
      href="{{contact.linkedin}}"
      data-width="50"
      data-height="50"
    ><img
        width="20"
        height="20"
        alt="linkedin"
        alt="linkedin"
        src="./linkedin.svg"
      /></liquid-button>
    <liquid-button
      class="hero__btn hero__btn--github"
      href="{{contact.github}}"
      data-width="50"
      data-height="50"
    ><img
        width="35"
        height="35"
        alt="github"
        alt="github"
        src="./github.svg"
      /></liquid-button>
  </div>
</div>